<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pet Store</title>

  <!-- Bootstrap core CSS -->
  <link href="/item/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/item/css/shop-item.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index')}}">Pet store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if session != "" %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('listOrder')}}">Welcome {{session}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('shoppingCart')}}">Shopping Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout')}}">Log out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index')}}">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Pet</h1>
        <div class="list-group">
          <a href="{{ url_for('catalog', name='Dog')}}" class="list-group-item">Dog</a>
          <a href="{{ url_for('catalog', name='Cat')}}" class="list-group-item">Cat</a>
          <a href="{{ url_for('catalog', name='Bird')}}" class="list-group-item">Bird</a>
          <a href="{{ url_for('catalog', name='Fish')}}" class="list-group-item">Fish</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="{{pet['image_url']}}" alt="">
          <div class="card-body">
            <h3 class="card-title">{{pet['breed']}}</h3>
            <h4>${{pet['price']}}</h4>
            <p class="card-text">Stock: {{pet['stock']}}</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
            <br> <br>

            {% if session != "" %}
            <form method="POST" action="{{ url_for('addPet', id=pet['id']) }}">

            {% if error != 'none' %}
            <font color="red"> {{error}} </font> <br>
            {% endif %}

              Amount: <input type = "text" name= "amount" placeholder="Enter Amount" />
              <br>
              <br>
              <button type="submit" class="btn btn-success">Add to Shopping Cart</button>
            </form>
            {% else %}
            You must be logged in for add to the shopping cart
            <a href="{{ url_for('login')}}" class="btn btn-success">Log in</a>
            {% endif %}
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Pet Store Fecci</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/item/vendor/jquery/jquery.min.js"></script>
  <script src="/item/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
